.strip {
  margin-top: 120px;
  background: white;
}

.strip-white {
  background: white;
}

.strip-diagonal {
  transform: skewY(5deg);
  padding-bottom: 50px;
  margin-bottom: 90px;

  > div {
    transform: skewY(-5deg);
  }
}
