.page-home {
  background-image: url('../images/wicsm_webiste2.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 150px 50px;
  @include media-breakpoint-up(sm) {
    background-size: 60%;
    background-position: 300px 30px;
  }
  @include media-breakpoint-up(md) {
    background-size: 50%;
    background-position: 100% 40px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 53%;
    background-position: 100% 10px;
  }
}
